// layout
.layout {
  width: 77vw;
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 77.25rem;

  @media (min-width: 90rem) {
    margin-top: 4rem;
    width: 86vw;
  }
}

html,
body {
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

// button component
.button__small {
  @include heading-3;

  padding: 30px 60px;
  margin-top: 64px;
  outline: none;
  border: none;
  background-color: $brilliant-azure;
  border-radius: 6.25rem;
  color: $white;
  cursor: pointer;

  transition: transform 0.6s ease-in-out;

  &:active {
    transform: scale(0.9);
  }

  text-decoration: none;
  display: inline-block;
}

//
.main {
  .title {
    h1 {
      @include mobile-heading;
      text-align: center;

      @media (min-width: 90rem) {
        @include heading-1;
      }
    }

    p {
      @include body-3;
      text-align: center;

      @media (min-width: 90rem) {
        @include body-1;
        text-transform: uppercase;
      }
    }
  }

  .hero {
    @include section;

    @media (min-width: 90rem) {
      display: flex;
      align-items: center;
    }
    &__image {
      width: 100%;
      height: 100%;
      overflow: hidden;
      @media (min-width: 90rem) {
        order: 2;
        width: 60%;
      }

      img {
        width: 100%;
        max-width: 100%;
        object-fit: cover;
      }
    }
  }

  .import {
    margin-top: 2rem;
    max-width: 270px;
    &__title {
      @include mobile-heading;

      @media (min-width: 90rem) {
        @include heading-1;
      }
    }

    &__label {
      margin-top: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px 30px;
      border: 5px solid $brilliant-azure;
      border-radius: 100px;

      h3 {
        margin-right: 10px;
        @include heading-3;
        color: $brilliant-azure;
      }
    }
  }
}

// form
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @media (min-width: 90rem) {
    width: 40%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
  }
  &__group {
    max-width: 100%;
    margin-top: 1rem;

    label {
      @include body-1;
    }
    &__input {
      @include body-3;
      width: calc(100% - 1rem);
      border: 2px solid black;
      border-radius: 10px;
      background-color: $grey;
      height: $small;
      padding-left: 1rem;

      &:not(:first-child) {
        margin-top: 1rem;
      }

      &::placeholder {
        @include body-3;
        color: $black;
      }
    }
  }
}

.results {
  @include section;
  &__title {
    @include mobile-heading;
    margin-bottom: 2rem;

    @media (min-width: 90rem) {
      @include heading-1;
    }
  }

  &__text {
    @include body-3;
    text-align: center;
    margin-top: 1rem;

    @media (min-width: 90rem) {
      @include body-1;
    }
  }
}

.footer {
  background-color: $water;
  display: flex;
  align-items: center;
  justify-content: center;
  @include section;

  margin-left: -12vw;
  margin-right: -12vw;

  &__wrapper {
    width: 77vw;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 4rem;
    max-width: 77.25rem;

    @media (min-width: 90rem) {
      margin-top: 4rem;
      width: 86vw;
    }

    p {
      @include body-3;
      margin-top: 1rem;
      max-width: 100%;

      span {
        font-weight: $bold;
      }

      a {
        text-decoration: none;
        color: $black;
        display: flex;
        align-items: center;
      }
    }

    a {
      @include body-3;
      margin-top: 1rem;
      text-decoration: none;
      color: $black;
      display: flex;
      align-items: center;
    }
  }
}
