@mixin heading-1 {
  font-family: $font;
  font-weight: $bold;
  font-size: $heading-1;
}

@mixin heading-2 {
  font-family: $font;
  font-weight: $bold;
  font-size: $heading-2;
}

@mixin heading-3 {
  font-family: $font;
  font-weight: $bold;
  font-size: $heading-3;
}

@mixin body-1 {
  font-family: $font;
  font-weight: $regular;
  font-size: $body-1;
}

@mixin body-2 {
  font-family: $font;
  font-weight: $regular;
  font-size: $body-2;
}

@mixin body-3 {
  font-family: $font;
  font-weight: $regular;
  font-size: $body-3;
}

@mixin mobile-heading {
  font-family: $font;
  font-weight: $bold;
  font-size: $body-1;
}

@mixin section {
  margin-top: $small;

  @media (min-width: 90rem) {
    margin-top: $large;
  }
}
